<head>
  <%- include('includes/head.ejs') -%>
</head>
<body id="accountDeletedPage">
  <h3 class="accountDeleted">Account was deleted...</h3>
  <form action="/" method="get">
    <button class="registerButton" type="submit">Register</button>
  </form>
</body>
