<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs') -%>
</head>
<body>
    <% users.forEach(function(user){ %>
        <%- include('includes/card.ejs', {user: user}); %>
        <section class="mainButtons">

            <form method="POST" action="/dislike/<%= user._id %>">
                <button class="dislike">
                    Dislike
                </button>
            </form>
        
            <form method="POST" action="/like/<%= user._id %>">
                <button class="like">
                    Like
                </button>
            </form>
        
        </section>
        
        <% }); %>
    </body>
</html>