<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') -%>
  </head>
  <body>
    <h1 id="accountCreated">
      Jij hebt een account aangemaakt met deze gegevens!
    </h1>
    <!-- <section class="navigationButtons">
            <form method="post" action="/likedUsers" >
                <button class="seeLikes">See likes</button>
            </form>
        </section> -->
    <%- include('includes/card.ejs', {data}); %>
  </body>
</html>
