<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs') -%>
</head>
<body>
    <article id="profileCard">
       <section id="cardInfo">
           <% for (let i = 0; i < users.length; i++) { %>
            <h1><%= users[i].name %></h1>
            <h5><%= users[i].email %></h5>
            <article id="cardButtons">
                <button id="dislike" onclick=<% console.log(users); %> >Dislike</button> 
                <button id="like">Like</button>
            </article>
            <% } %>
        </section>
    </article>
    <script src="/public/js/profileCards.js"></script>
</body>
</html>