<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Roommate finder</title>
</head>
<body>
    <form id="homePage" action="register">
        <img src="assets/roomate-header.png" alt="Picture with roomate!">
        <h2>Vind jouw ideale huisgenoot!</h2>
        <button type="submit" class="mainButton">Volgende</button>
    </form>
</body>
</html>