<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs') -%>
</head>
<body>
    <form id="homePage" action="register">
        <img src="/assets/roomate-header.png" alt="Picture with roomate!">
        <h2>Vind jouw ideale huisgenoot!</h2>
        <button type="submit" class="mainButton">Volgende</button>
    </form>
</body>
</html>