<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs') -%>
</head>
<body>
    <section class="navigationButtons">
        <form methord="post" action="/discover">
            <button class="seeLikes">Back to all</button>
        </form>
    </section>
    <% users.forEach(function(user){ %>
        <%- include('includes/card.ejs', {user: user}); %>
        
        
        <% }); %>
     
    
    </body>
</html>